$grid-breakpoints: (xs: 0, sm: 768px, md: 992px, lg: 1200px);

// Colors
$color-main:     #161515;
$color-black:    #333333;
$color-black-1:  #212121;
$color-gray:     #b3b3b3;
$color-gray-1:   #999999;
$color-white:    #f7f7f7;
$color-red:      #EB3656;
$color-red-1:    #fa4b5c;
$color-bg-black: #1a1b1b;
$color-border:   #E0E0E0;