.case-screen {
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        background: #1C1E23;
        border: 1px solid #282A31;
        border-radius: 2vw;

        @include media-up(sm) {
            border-radius: 1.53vw;
        }
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(20, 21, 24, 0.5) 0%, #141518 60%);
        transition: opacity .6s;
        border-radius: 2vw;

        @include media-up(sm) {
            border-radius: 1.53vw;
        }
    }

    &--desktop {
        width: 60vw;
        padding: 1.84vw;

        @include media-up(sm) {
            width: 45vw;
            padding: 1.38vw;
        }

        &:before {
            height: 40vw;

            @include media-up(sm) {
                height: 30vw;                
            }
        }
    }

    &--mobile {
        width: 18vw;
        padding: 1.67vw;
        margin-top: 17vw;
        margin-left: 3.2vw;

        @include media-up(sm) {
            width: 13.5vw;
            margin-top: 12.5vw;
            padding: 1.25vw;
            margin-left: 3.2vw;
        }

        &:before {
            height: 33vw;

            @include media-up(sm) {
                height: 25vw;                
            }
        }
    }

    img {
        position: relative;
        z-index: 1;
        width: 100%;
        border-radius: 0.75vw 0.75vw 0 0;
        transition: opacity .5s;

        @include media-up(sm) {
            border-radius: 0.55vw 0.55vw 0 0;                
        }
    }
}