.single-case-textblock {
    padding: 70px 0 50px;

    @include media-up(sm) {
        padding: 110px 50px;
        max-width: 870px;
        margin: 0 auto;
    }

    @include media-up(md) {
        padding: 150px 50px 130px;
    }
}