.single-case-intro {
    position: relative;
    height: calc(100vh - 75px);
    height: calc(var(--vh, 1vh)*100 - 75px);
    margin-top: 75px;

    @include media-up(sm) {
        height: calc(100vh - 140px);
        height: calc(var(--vh, 1vh)*100 - 140px);
        margin-top: 140px;
    }
    
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 15, 15, 0.35) 0%, #161515 50%, #161515 100%);
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: relative;
        z-index: 2;
        height: 65%;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        h1 {
            color: #fff;
            margin-bottom: 10px;

            @include media-up(sm) {
                margin-bottom: 30px;
            }
        }

        p {
            color: $color-gray;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__slider {
        height: 35%;
    }
}