<%=_.template(require('../parts/main-header.html'))() %>

<div class="section-content">
	<div class="container">
        <div class="text-center" style="font-size: 30px;">
            <p>1.  <a href="career.html">Карьера</a></p>
            <p>2.  <a href="vacancy.html">Вакансия</a></p>
            <p>3.  <a href="achievs.html">Награды</a></p>
            <p>4.  <a href="author.html">Автор</a></p>
            <p>5.  <a href="promo.html">Продвижение</a></p>
        </div>
    </div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
