<%=_.template(require('../parts/main-header.html'))() %>

<div class="section-content">
	<div class="container">
        <div class="text-center" style="font-size: 30px;">
            <p>1.  <a href="page-careers.html">Карьера</a></p>
            <p>2.  <a href="single-careers.html">Вакансия</a></p>
            <p>3.  <a href="page-awards.html">Награды</a></p>
            <p>4.  <a href="single-authors.html">Автор</a></p>
            <p>5.  <a href="paid-ads.html">Продвижение</a></p>
            <p>6.  <a href="single-cases.html">Страница кейса</a></p>
            <p>7.  <a href="page-automation.html">Автоматизация</a></p>
        </div>
    </div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
