<%=_.template(require('../parts/main-header.html'))() %>

<section class="career-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pathway">
                    <a href="https://new.livepage.pro">Livepage</a>
                    <em>/</em>
                    <a href="https://new.livepage.pro/career/">Работа у нас</a>
                </div>
                <h1 class="career-main__title">Let’s fly together!</h1>
                <div class="career-main__text">
                    <p><strong>Livepage</strong> - это команда крутых, мотивированных специалистов. Мы развиваемся сами, достигая высот для наших клиентов. Присоединяйся к нам, будет круто!&nbsp;<i class="emoji-handshake"></i></p>
                </div>
                <a href="#positions" class="btn btn-lg btn-danger">Посмотреть вакансии!</a>
            </div>
            <div class="col-md-6">
                <div class="career-main__logos">
                    <div class="career-main__logo img-filter">
                        <img src="img/career-photo-1.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="career-main__logo">
                        <img src="img/career-photo-2.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="career-main__logo">
                        <img src="img/career-photo-3.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="career-main__logo img-filter">
                        <img src="img/career-photo-4.jpg" alt="" loading='lazy'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="career-about__main">
                    <h2>Livepage</h2>
                    <div class="text">
                        <p>- это B2B маркетинговое агентство. Мы помогли тысячам компаний вырасти с помощью инструментов digital-маркетинга.<i class="emoji-fire"></i><i class="emoji-biceps"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="career-about__values">
                    <div class="title">Наши ценности</div>
                    <div class="text">
                        <p>- открытость и прозрачность в работе, уникальные решения и небезразличие к бизнесу клиента.</p>
                        <p>
                            В нашем портфолио есть IT-гиганты, большой Ecommerce бизнес, интересные SaaS-решения, локальный бизнес в США. Наши заказчики находятся в США, Канаде, Украине, Германии и многих других странах.
                            <span class="career-about__flags">
                                <span class="ico"><img src="img/flags/us.png" alt="US flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/ca.png" alt="CA flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/ua.png" alt="UA flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/de.png" alt="DE flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/it.png" alt="IT flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/ru.png" alt="RU flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/gb.png" alt="GB flag" width="24" height="24" loading="lazy"></span>
                                <span class="ico"><img src="img/flags/pl.png" alt="PL flag" width="24" height="24" loading="lazy"></span>
                                ...
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="career-about__clients">
            <img src="img/career-world-bg.png" class="bg-img" alt="" loading='lazy'>
            <div class="clients">
                <div class="client">
                    <a title="yalantis.com" href="https://yalantis.com" target="_blank">
                        <img src="img/client-1.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="intellias.com" href="https://intellias.com" target="_blank">
                        <img src="img/client-2.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="stripo.email" href="https://stripo.email" target="_blank">
                        <img src="img/client-3.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="navi.gg" href="https://navi.gg" target="_blank">
                        <img src="img/client-4.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="ajax.systems" href="https://ajax.systems/" target="_blank">
                        <img src="img/client-5.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="work.ua" href="https://work.ua" target="_blank">
                        <img src="img/client-6.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="bvblogic.com" href="https://bvblogic.com" target="_blank">
                        <img src="img/client-7.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="stormotion.io" href="https://stormotion.io" target="_blank">
                        <img src="img/client-8.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="justcoded.com" href="https://justcoded.com" target="_blank">
                        <img src="img/client-9.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="techmagic.co" href="https://techmagic.co" target="_blank">
                        <img src="img/client-10.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="classcentral.com" href="https://classcentral.com" target="_blank">
                        <img src="img/client-11.svg" >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career-features">
    <div class="container">
        <h2 class="title-big">
            Твоя <strong class="red">лучшая работа</strong><br> начинается здесь!
        </h2>
        <div class="features">
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-1.svg" >
                </div>
                <div class="feature__title">Онбординг</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-2.svg" >
                </div>
                <div class="feature__title">Cистема обучения</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-3.svg" >
                </div>
                <div class="feature__title">Гибкость</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-4.svg" >
                </div>
                <div class="feature__title">Карьерный рост</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-5.svg" >
                </div>
                <div class="feature__title">Максимум инструментов</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
            <div class="feature clearfix">
                <div class="feature__logo">
                    <img src="img/feature-6.svg" >
                </div>
                <div class="feature__title">Вы будете услышанными</div>
                <div class="feature__text">Наши специалисты получают поддержку на каждом этапе становления в компании. Особенно - в первые 2 месяца, когда специалист только знакомиться<br> с брендом.</div>
            </div>
        </div>
    </div>
</section>

<section class="career-ratings">
    <div class="container">
        <h2>Livepage в мировых рейтингах</h2>
        <div class="ratings">
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-1.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">Топ-1000 IT-<br> аутсорсеров мира</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-3.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП Digital Marketing<br> агентство в Украине</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-2.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП агентство по<br> Email-маркетингу</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-4.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП SEO-компания<br> в мире</div>
            </a>
        </div>
    </div>
</section>

<section class="career-positions" id="positions">
    <div class="container">
        <h2>Открытые позиции👩‍💻</h2>
        <div class="main-text">
            <p>Если ты не нашел нужную позицию - следи за обновлениями на нашем сайте. </p>
        </div>

        <div class="positions tabs">
            <div class="tabs__nav">
                <a href="#positions-1" class="tabs__link active">
                    Все вакансии <span>4</span>
                </a>
                <a href="#positions-2" class="tabs__link">
                    Горящие вакансии <span>15</span>
                </a>
                <a href="#positions-3" class="tabs__link">
                    Интернатура <span>22</span>
                </a>
            </div>
            <div class="positions__content">
                <div class="tabs__item active" id="positions-1">
                    <div class="position">
                        <div class="position__main">
                            <div class="position__title">
                                <a href="https://new.livepage.pro/vacancy/" class="position__link">Sales manager</a>
                            </div>
                            <div class="position__levels">
                                <a href="#level-1" class="position__level">Entry level/junior</a>
                            </div>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>

                    <div class="position">
                        <div class="position__main">
                            <div class="position__title">
                                <a href="https://new.livepage.pro/vacancy/" class="position__link">PPC-специалист</a>
                            </div>
                            <div class="position__levels">
                                <a href="#level-1" class="position__level">Entry level/junior</a>
                                <a href="#level-2" class="position__level">Middle</a>
                            </div>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>

                    <div class="position">
                        <div class="position__main">
                            <div class="position__title">
                                <a href="https://new.livepage.pro/vacancy/" class="position__link">Link-builder</a>
                            </div>
                            <div class="position__levels">
                                <a href="#level-3" class="position__level">Senior/lead</a>
                                <a href="#level-4" class="position__level">C-level</a>
                            </div>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>

                    <div class="position">
                        <div class="position__main">
                            <div class="position__title">
                                <a href="https://new.livepage.pro/vacancy/" class="position__link">Digital marketing specialist</a>
                            </div>
                            <div class="position__levels">
                                <a href="#level-1" class="position__level">Entry level/junior</a>
                            </div>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                </div>
                <div class="tabs__item" id="positions-2">
                    <div class="position">
                        <div class="position__title">
                            <a href="https://new.livepage.pro/vacancy/" class="position__link">Link-builder</a>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                    <div class="position">
                        <div class="position__title">
                            <a href="https://new.livepage.pro/vacancy/" class="position__link">PPC-специалист</a>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                    <div class="position">
                        <div class="position__title">
                            <a href="https://new.livepage.pro/vacancy/" class="position__link">Sales manager</a>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                </div>
                <div class="tabs__item" id="positions-3">
                    <div class="position">
                        <div class="position__title">
                            <a href="https://new.livepage.pro/vacancy/" class="position__link">PPC-специалист</a>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                    <div class="position">
                        <div class="position__title">
                            <a href="https://new.livepage.pro/vacancy/" class="position__link">Sales manager</a>
                        </div>
                        <a href="#" class="position__recomend"
                            data-toggle="modal"
                            data-target="#modal-new"
                            data-headline="Рекомендовать друга">
                            Рекомендовать друга
                        </a>
                        <a href="https://new.livepage.pro/vacancy/" class="position__button"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career-levels">
    <div class="container">
        <h2>Открытые позиции👩‍💻</h2>
        <div class="levels tabs">
            <div class="levels__nav">
                <a href="#level-1" class="tabs__link active">
                    Entry level/junior🐰
                    <span>Talent Acquisition Manager</span>
                </a>
                <a href="#level-2" class="tabs__link">
                    Middle🦊
                    <span>Talent Acquisition Manager</span>
                </a>
                <a href="#level-3" class="tabs__link">
                    Senior/lead🐺
                    <span>Talent Acquisition Manager</span>
                </a>
                <a href="#level-4" class="tabs__link">
                    C-level🦁
                    <span>Talent Acquisition Manager</span>
                </a>
            </div>
            <div class="levels__content">
                <div class="tabs__item active" id="level-1">
                    <div class="level">
                        <div class="level__title">Entry Level/Junior🐰</div>
                        <div class="level__text">
                            <p><strong>Позиции для специалистов без опыта или с минимальным опытом работы (до 1 года).</strong> Процесс отбора состоит из телефонного интервью и личной встречи в офисе.</p>
                            <p>Первый этап: общение с рекрутером по телефону Второй этаап: встреча с рекрутером и непосредственным руководителем</p>
                        </div>
                        <div class="level__mentor employee">
                            <div class="employee__photo">
                                <img src="img/employee-1.png" alt="" loading='lazy'>
                            </div>
                            <div class="employee__content">
                                <div class="employee__name">Анна Скворцова</div>
                                <div class="employee__post">Старший продакт менеджер</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__item" id="level-2">
                    <div class="level">
                        <div class="level__title">Middle🦊</div>
                        <div class="level__text">
                            <p><strong>Позиции для специалистов без опыта или с минимальным опытом работы (до 1 года).</strong> Процесс отбора состоит из телефонного интервью и личной встречи в офисе.</p>
                        </div>
                        <div class="level__mentor employee">
                            <div class="employee__photo">
                                <img src="img/employee-2.png" alt="" loading='lazy'>
                            </div>
                            <div class="employee__content">
                                <div class="employee__name">Сергей Фадеев</div>
                                <div class="employee__post">Старший продакт менеджер</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__item" id="level-3">
                    <div class="level">
                        <div class="level__title">Senior/lead🐺</div>
                        <div class="level__text">
                            <p>Первый этап: общение с рекрутером по телефону Второй этаап: встреча с рекрутером и непосредственным руководителем</p>
                        </div>
                        <div class="level__mentor employee">
                            <div class="employee__photo">
                                <img src="img/employee-3.png" alt="" loading='lazy'>
                            </div>
                            <div class="employee__content">
                                <div class="employee__name">Сергей Фадеев</div>
                                <div class="employee__post">Старший продакт менеджер</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__item" id="level-4">
                    <div class="level">
                        <div class="level__title">C-level🦁</div>
                        <div class="level__text">
                            <p><strong>Позиции для специалистов без опыта или с минимальным опытом работы (до 1 года).</strong> Процесс отбора состоит из телефонного интервью и личной встречи в офисе.</p>
                            <p>Первый этап: общение с рекрутером по телефону Второй этаап: встреча с рекрутером и непосредственным руководителем</p>
                        </div>
                        <div class="level__mentor employee">
                            <div class="employee__photo">
                                <img src="img/employee-1.png" alt="" loading='lazy'>
                            </div>
                            <div class="employee__content">
                                <div class="employee__name">Анна Скворцова</div>
                                <div class="employee__post">Старший продакт менеджер</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal modal-new fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="modal-new">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<a class="cross" href="#" data-dismiss="modal"></a>
			<div class="modal-header">
				<h2>Рекомендовать друга</h2>
			</div>
			<div class="modal-body">
                <form class="form" name="recommend">
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Представьтесь</div>
                        <input name="name" class="form-control" type="text" value="">
                    </div>
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Телефон</div>
                        <input name="phone" class="form-control" type="text" value="">
                    </div>
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Эл. почта</div>
                        <input name="email" class="form-control" type="text" value="">
                    </div>
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Ваш комментарий</div>
                        <textarea name="message" class="form-control" cols="" rows=""></textarea>
                    </div>        
                    <button class="form__btn btn btn-danger" name="send" type="submit" value="OK">Рекомендовать друга</button>
                    <div class="form-msg"></div>
                </form>
			</div>
		</div>
	</div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
