<%=_.template(require('../parts/main-header.html'))() %>

<section class="achievs-main">
    <div class="container">
        <div class="pathway">
            <a href="https://new.livepage.pro">Livepage</a>
            <em>/</em>
            <a href="https://new.livepage.pro/career/">Работа у нас</a>
            <em>/</em>
            <a href="https://new.livepage.pro/achievs/">Награды Livepage</a>
        </div>
        <div class="achievs-main__content">
            <h1>
                Награды<br> <strong class="red">Livepage</strong>
            </h1>
            <div class="achievs-main__text">
                <p>Клиенты часто оставляют положительные отзывы о работе с нами. Благодаря этому мы стали единственным маркетинговым агентством, которое попало в рейтинг Clutch-1000 в 2020 году и получило множество других наград 😎</p>
            </div>
        </div>
        <div class="achievs-main__bg">
            <img src="img/achievs-mobile.svg"  class="visible-xs">
            <img src="img/achievs-desktop.svg"  class="hidden-xs">
        </div>
    </div>
</section>

<section class="achievs-ratings">
    <div class="container">
        <h2 class="visible-xs">
            Livepage<br> в мировых<br> рейтингах
        </h2>
        <div class="ratings">
            <div class="rating rating-header hidden-xs">
                <h2>
                    Livepage<br> в мировых<br> рейтингах
                </h2>
            </div>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-1.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">Топ-1000 IT-<br> аутсорсеров мира</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-3.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП Digital Marketing<br> агентство в Украине</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-2.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП агентство по<br> Email-маркетингу</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-5.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП-1000 Clutch<br> Global 2019</div>
            </a>
            <a href="#" class="rating">
                <div class="rating__logo">
                    <img src="img/rating-4.png" alt="" loading='lazy'>
                </div>
                <div class="rating__title">ТОП SEO-компания<br> в мире</div>
            </a>
        </div>
    </div>
</section>

<%=_.template(require('../parts/main-footer.html'))() %>
