<%=_.template(require('../parts/main-header.html'))() %>

<div class="new-page">
    <section class="promo-main">
        <div class="container">
            <h1>
                <strong class="red">Реклама в&nbsp;Google&nbsp;Ads,<br> Facebook, Instagram</strong><br> и других рекламных каналах
            </h1>
            <div class="promo-main__text">
                Сделаем платное продвижение прибыльным и запустим рост продаж
            </div>
            <a href="#promo-form" class="promo-main__btn btn btn-danger">
                Обсудить проект
            </a>
            <div class="partners">
                <a href="https://www.google.ru/partners/?hl=ru#a_profile;idtf=1653027949" target="_blank" rel="nofollow noopener" class="partner">
                    <img src="img/partner-1.svg" >
                </a>
                <a href="https://www.goodfirms.co/company/livepage" target="_blank" rel="nofollow noopener" class="partner">
                    <img src="img/partner-2.svg" >
                </a>
                <a href="https://clutch.co/profile/livepage?utm_source=widget&amp;utm_medium=widget_2&amp;utm_campaign=widget&amp;utm_content=logo" target="_blank" rel="nofollow noopener" class="partner">
                    <img src="img/partner-3.svg" >
                </a>
                <a href="#" class="partner">
                    <img src="img/rating-1.png" alt="" loading='lazy'>
                </a>
            </div>
        </div>
    </section>

    <section class="promo-plans">
        <div class="container">
            <h2>Вы в правильном месте,&nbsp;если 🧑‍💼👨‍💼</h2>
            <div class="plans">
                <div class="plan">
                    <div class="plan__logo">
                        <img src="img/plan-1.svg" >
                    </div>
                    <div class="plan__title">
                        Планируете платное<br> продвижение с нуля
                    </div>
                    <div class="plan__text">
                        Настроим платную рекламу, ориентируясь на цели вашего бизнеса и окупаемость инвестиций.
                    </div>
                </div>
                <div class="plan">
                    <div class="plan__logo">
                        <img src="img/plan-2.svg" >
                    </div>
                    <div class="plan__title">
                        Хотите сменить подрядчика, потому что платная реклама<br> не приносит прибыль
                    </div>
                    <div class="plan__text">
                        В кратчайшие сроки исправим критические ошибки и выведем платную рекламу на окупаемость, далее - на постоянное увеличение прибыли.
                    </div>
                </div>
                <div class="plan">
                    <div class="plan__logo">
                        <img src="img/plan-3.svg" >
                    </div>
                    <div class="plan__title">
                        Хотите перезапустить<br> платную рекламу и достигать<br> поставленных KPI
                    </div>
                    <div class="plan__text">
                        В работе с каждым проектом мы нацелены на возврат инвестиций (ROI, ROMI), проводим помесячное планирование и отчетность.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-clients">
        <div class="container">
            <h2>Мы помогли более чем 150 компаниям<br> значительно увеличить продажи</h2>
            <div class="clients">
                <div class="client">
                    <a title="yalantis.com" href="https://yalantis.com" target="_blank">
                        <img src="img/client-1.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="intellias.com" href="https://intellias.com" target="_blank">
                        <img src="img/client-2.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="stripo.email" href="https://stripo.email" target="_blank">
                        <img src="img/client-3.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="navi.gg" href="https://navi.gg" target="_blank">
                        <img src="img/client-4.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="ajax.systems" href="https://ajax.systems/" target="_blank">
                        <img src="img/client-5.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="work.ua" href="https://work.ua" target="_blank">
                        <img src="img/client-6.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="bvblogic.com" href="https://bvblogic.com" target="_blank">
                        <img src="img/client-7.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="stormotion.io" href="https://stormotion.io" target="_blank">
                        <img src="img/client-8.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="justcoded.com" href="https://justcoded.com" target="_blank">
                        <img src="img/client-9.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="techmagic.co" href="https://techmagic.co" target="_blank">
                        <img src="img/client-10.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="classcentral.com" href="https://classcentral.com" target="_blank">
                        <img src="img/client-11.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="joinposter.com" href="https://joinposter.com" target="_blank">
                        <img src="img/client-12.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="elmir.ua" href="https://elmir.ua" target="_blank">
                        <img src="img/client-13.svg" >
                    </a>
                </div>
                <div class="client">
                    <a title="yalantis.com" href="https://yalantis.com" target="_blank">
                        <img src="img/client-1.svg" >
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-features">
        <div class="container">
            <h2 class="title-big">Наша команда<br> поможет вам</h2>
            <div class="features">
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Настроить и управлять<br> платной рекламой</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Настроить и оптимизировать<br> Google Shopping</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Настроить и управлять<br> рекламой в социальных сетях</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Продвигать мобильные<br> приложения</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Провести аудит<br> контекстной рекламы</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Настроить<br> ремаркетинг</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Трекать показатели<br> с помощью аналитики</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Запустить видеорекламу<br> в Youtube</div>
                    </a>
                </div>
                <div class="feature">
                    <a href="https://new.livepage.pro/ppc/" class="feature__link">
                        <div class="feature__num"></div>
                        <div class="feature__text">Настроить воронку трафика<br> и запустить ABM</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-directions">
        <div class="container">
            <h2 class="title-big">У нас есть экспертиза<br> и опыт работы с:</h2>
            <div class="directions">
                <div class="direction">
                    <div class="direction__content">
                        <h2 class="direction__title">IT Outsource и SaaS</h2>
                        <ul class="direction__list">
                            <li>Разработка индивидуальной воронки дистрибуции контента через платный трафик</li>
                            <li>Поиск, парсинг и реклама по контактным данным вашей ЦА</li>
                            <li>Реклама с точным таргетингом по названиям компаний, должностям, индустриям</li>
                            <li>Реклама по тематическим мероприятиям</li>
                        </ul>
                    </div>
                    <div class="direction__case case">
                        <div class="case__title">Кейс IT Outsource<br> компании Bvblogic 👨‍🚀</div>
                        <div class="case__item">
                            <div class="case__value">на 261%</div>
                            <div class="case__text">Увеличение количества лидов</div>
                        </div>
                        <div class="case__item">
                            <div class="case__value">+36%</div>
                            <div class="case__text">Рост обращений через чат</div>
                        </div>
                    </div>
                </div>
                <div class="direction">
                    <div class="direction__content">
                        <h2 class="direction__title">Ecommerce</h2>
                        <ul class="direction__list">
                            <li>Настройка аналитики и электронной коммерции</li>
                            <li>Разработка структуры рекламных аккаунтов под ключ</li>
                            <li>Отслеживание окупаемости рекламных активностей</li>
                            <li>Автоматизация кампаний направленная на показатели эффективности продаж</li>
                            <li>Комплексный ремаркетинг для повышения продаж и увеличения LTV вашего клиента</li>
                        </ul>
                    </div>
                    <div class="direction__case case">
                        <div class="case__title">Кейс интернет-<br>магазина Elektrovoz 🚅</div>
                        <div class="case__item">
                            <div class="case__value">+600%</div>
                            <div class="case__text">Рост конверсий</div>
                        </div>
                        <div class="case__item">
                            <div class="case__value">+109%</div>
                            <div class="case__text">Рост брендового трафика за год</div>
                        </div>
                    </div>
                </div>
                <div class="direction">
                    <div class="direction__content">
                        <h2 class="direction__title">Корпоративные сайты</h2>
                        <ul class="direction__list">
                            <li>Погружение в проект и определение KPI в зависимости от специфики вашего бизнеса</li>
                            <li>Широкий спектр применяемых инструментов - от рекламы на поиске Google/Яндекс/Bing до соц.сетей Linkedin, Twitter и пр.</li>
                            <li>Большой опыт работы с медийными кампаниями: определение вашей ЦА и создание правильной коммуникационной стратегии</li>
                        </ul>
                    </div>
                    <div class="direction__case case">
                        <div class="case__title">Кейс сайта по поиску<br> работы №1 Work.ua 👨‍🚀</div>
                        <div class="case__item">
                            <div class="case__value">в 2,5 раза</div>
                            <div class="case__text">Рост конверсий</div>
                        </div>
                        <div class="case__item">
                            <div class="case__value">+250%</div>
                            <div class="case__text">Посещаемость из Adwords</div>
                        </div>
                    </div>
                </div>
                <div class="direction">
                    <div class="direction__content">
                        <h2 class="direction__title">Локальный<br> бизнес в США</h2>
                        <ul class="direction__list">
                            <li>Настройка рекламных кампаний в местных поисковиках : Bing,Yahoo, MSN</li>
                            <li>Настройка коллтрекинга от Google</li>
                            <li>Настройка локальных кампаний</li>
                            <li>Настройка объявлений по номеру телефону</li>
                        </ul>
                    </div>
                    <div class="direction__case case">
                        <div class="case__title">Кейс<br> Sti Garage 🧑‍🏭 </div>
                        <div class="case__item">
                            <div class="case__value">+52%</div>
                            <div class="case__text">Увеличение количества лидов </div>
                        </div>
                        <div class="case__item">
                            <div class="case__value">-46%</div>
                            <div class="case__text">Снижение стоимости лида </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-comment">
        <div class="container">
            <div class="comment">
                <h3 class="comment__title">Стратегия, а не тактика</h3>
                <div class="comment__text">
                    <p>В работе мы не привязываемся к конкретным каналам или рекламным системам. Наша основная задача — помочь клиенту достичь бизнес-целей. Для этого, мы используем синергию многолетнего опыта, высокой экспертизы и весь потенциал существующих рекламных инструментов.</p>
                </div>
                <div class="comment__author employee">
                    <div class="employee__photo">
                        <img src="img/employee-2.png" alt="" loading='lazy'>
                    </div>
                    <div class="employee__content">
                        <div class="employee__name">Георгий Кривогузенко</div>
                        <div class="employee__post">Руководитель отдела платного трафика</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-stages">
        <div class="container">
            <h2 class="promo-stages__title">
                Подход, ориентированный<br> на постоянный рост бизнес-показателей
            </h2>
            <div class="stages">
                <div class="stage">
                    <div class="stage__logo"><img src="img/stage-1.svg" ></div>
                    <div class="stage__title">Аналитика<br> проекта</div>
                </div>
                <div class="stage">
                    <div class="stage__logo"><img src="img/stage-2.svg" ></div>
                    <div class="stage__title">Разработка<br> стратегии</div>
                </div>
                <div class="stage">
                    <div class="stage__logo"><img src="img/stage-3.svg" ></div>
                    <div class="stage__title">Внедрение<br> стратегии</div>
                </div>
                <div class="stage">
                    <div class="stage__logo"><img src="img/stage-4.svg" ></div>
                    <div class="stage__title">Анализ<br> точек роста</div>
                </div>
                <div class="stage">
                    <div class="stage__logo"><img src="img/stage-5.svg" ></div>
                    <div class="stage__title">Отчет и план<br> на год</div>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-reviews">
        <div class="container">
            <h2 class="title-big">
                Клиенты ценят<br> наш <span class="red">подход в&nbsp;PPC</span>
            </h2>
            <div class="reviews-slider owl-carousel">
                <div class="review" data-hash="rev1">
                    <div class="review__logo">
                        <img src="img/review-1.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            <p>За 10 месяцев работы с Livepage мы добились существенных результатов. Они успешно выявили потребности нашего бизнеса, сократили рекламные расходы и повысили доходы от рекламы.</p>
                            <p>Спасибо за отличную работу!</p>
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Николай Иванов</div>
                                <div class="review__post">Директор Proball.ru</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev2">
                    <div class="review__logo">
                        <img src="img/review-2.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            У Livepage дей­стви­тель­но сло­жив­ший­ся mature process — про­фес­си­о­наль­ный про­цесс, ко­то­рый по­став­лен, об­ла­да­ет опре­де­лен­ны­ми ста­ди­я­ми и про­зра­чен для кли­ен­та.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Александра Жильцова</div>
                                <div class="review__post">Маркетинг директор Apriorit</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev3">
                    <div class="review__logo">
                        <img src="img/review-3.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            Мы начали с 2 000 посетителей в месяц. За 3 года вместе с Livepage мы достигли 70 000 посетителей и более 100 лидов с сайта в месяц.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Александр Холодов</div>
                                <div class="review__post">CEO Yalantis</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev4">
                    <div class="review__logo">
                        <img src="img/review-4.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            Через 4 месяца работы с Livepage мы существенно увеличили посещаемость и стали получать заказы со всей Украины.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Сергей Тютюник</div>
                                <div class="review__post">CEO Liberta</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev5">
                    <div class="review__logo">
                        <img src="img/review-1.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            <p>За 10 месяцев работы с Livepage мы добились существенных результатов. Они успешно выявили потребности нашего бизнеса, сократили рекламные расходы и повысили доходы от рекламы.</p>
                            <p>Спасибо за отличную работу!</p>
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Николай Иванов</div>
                                <div class="review__post">Директор Proball.ru</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev6">
                    <div class="review__logo">
                        <img src="img/review-2.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            У Livepage дей­стви­тель­но сло­жив­ший­ся mature process — про­фес­си­о­наль­ный про­цесс, ко­то­рый по­став­лен, об­ла­да­ет опре­де­лен­ны­ми ста­ди­я­ми и про­зра­чен для кли­ен­та.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Александра Жильцова</div>
                                <div class="review__post">Маркетинг директор Apriorit</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev7">
                    <div class="review__logo">
                        <img src="img/review-3.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            Мы начали с 2 000 посетителей в месяц. За 3 года вместе с Livepage мы достигли 70 000 посетителей и более 100 лидов с сайта в месяц.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Александр Холодов</div>
                                <div class="review__post">CEO Yalantis</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="review" data-hash="rev8">
                    <div class="review__logo">
                        <img src="img/review-4.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review__content">
                        <div class="review__text">
                            Через 4 месяца работы с Livepage мы существенно увеличили посещаемость и стали получать заказы со всей Украины.
                        </div>
                        <div class="review__footer">
                            <div class="review__author">
                                <div class="review__name">Сергей Тютюник</div>
                                <div class="review__post">CEO Liberta</div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pMnBm8efNos" class="review__video" data-fancybox="" data-width="1280" data-height="720">
                                Смотреть видеоотзыв
                                <img src="img/play.svg" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews-nav">
                <a href="#rev1" class="review-link active">
                    <div class="review-link__logo">
                        <img src="img/review-nav-1.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-10.svg" >
                    </div>
                </a>
                <a href="#rev2" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-2.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-6.svg" >
                    </div>
                </a>
                <a href="#rev3" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-3.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-12.svg" >
                    </div>
                </a>
                <a href="#rev4" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-4.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-1.svg" >
                    </div>
                </a>
                <a href="#rev5" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-1.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-10.svg" >
                    </div>
                </a>
                <a href="#rev6" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-2.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-6.svg" >
                    </div>
                </a>
                <a href="#rev7" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-3.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-12.svg" >
                    </div>
                </a>
                <a href="#rev8" class="review-link">
                    <div class="review-link__logo">
                        <img src="img/review-nav-4.jpg" alt="" loading='lazy'>
                    </div>
                    <div class="review-link__company">
                        <img src="img/client-1.svg" >
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="promo-form" id="promo-form">
        <div class="container">
            <h2 class="title-big">
                Оставить заявку<br> на продвижение
            </h2>
            
            <form class="form form-red">
                <div class="form__inputs">
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Представьтесь<span>*</span></div>
                        <input name="name" class="form-control" type="text" value="">
                    </div>
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Эл.почта<span>*</span></div>
                        <input name="email" class="form-control" type="text" value="">
                    </div>
                    <div class="inputbox inputbox_placeholder inputbox_radd">
                        <div class="placeholder">Адрес сайта</div>
                        <input name="linkedin" class="form-control" type="text" value="">
                        <div class="radd"><a href="#" class="order-form-site-disable">Ещё нет сайта?</a></div>
                    </div>
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Телефон</div>
                        <input name="phone" class="form-control" type="text" value="">
                    </div>
                </div>
        
                <div class="inputbox inputbox_placeholder">
                    <div class="placeholder">Ваш комментарий</div>
                    <textarea name="message" class="form-control" cols="" rows=""></textarea>
                </div>
                    
                <button class="form__btn btn" name="send" type="submit" value="OK">Отправить</button>

                <div class="form-msg"></div>
            </form>
        </div>
    </section>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
