<%=_.template(require('../parts/main-header.html'))() %>

<div class="new-page">
    <section class="single-case-intro">
        <img src="img/base/pingle-intro-bg.jpg" alt="" class="single-case-intro__bg">
        <div class="single-case-intro__content">
            <div class="container">
                <div class="single-case-intro__heading">
                    <h1>Web-дизайн для IT-компании Pingle Studio</h1>
                    <p>Глобальный Game development партнер </p>
                </div>
                <div class="single-case-intro__info">
                    <div class="single-case-intro__info-item">
                        <a href="#" class="single-case-intro__info-logo" title="Pingle Studio" target='_blank' rel='noopener noreferrer'>
                            <img src="img/base/pingle-logo.png" alt="">
                        </a>
                        <div class="single-case-intro__info-content">
                            <p class="single-case-intro__info-title">Pingle Studio</p>
                            <p class="single-case-intro__info-text">IT Outsource компания</p>
                        </div>
                    </div>
                    <div class="single-case-intro__info-item">
                        <div class="single-case-intro__info-content">
                            <p class="single-case-intro__info-title">Услуги</p>
                            <p class="single-case-intro__info-text">Маркетинговое исследование, UX/UI дизайн</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-case-intro__slider">

        </div>
    </section>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
