<%=_.template(require('../parts/main-header.html'))() %>

<style>
    :root {
        --case-color: #999999;
    }
</style>

<div class="single-case">
    <section class="case-intro">
        <div class="case-intro__bg" style="background-image: url(img/case/pingle-intro-bg.jpg);"></div>
        <div class="case-intro__wrapper">
            <div class="case-intro__content">
                <div class="case-intro__container container">
                    <div class="case-intro__heading">
                        <h1>Web-дизайн для IT-компании Pingle Studio</h1>
                        <p>Глобальный Game development партнер </p>
                    </div>
                    <div class="case-intro__info">
                        <div class="case-intro__info-item">
                            <a href="#" class="case-intro__info-logo" title="Pingle Studio" target='_blank' rel='noopener noreferrer'>
                                <img src="img/case/pingle-logo.png" alt="Pingle Studio">
                            </a>
                            <div class="case-intro__info-content">
                                <p class="case-intro__info-title">Pingle Studio</p>
                                <p class="case-intro__info-text">IT Outsource компания</p>
                            </div>
                        </div>
                        <div class="case-intro__info-item">
                            <div class="case-intro__info-content">
                                <p class="case-intro__info-title">Услуги</p>
                                <p class="case-intro__info-text">Маркетинговое исследование, UX/UI дизайн</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="case-intro__bottom">
                <div class="case-intro__slider swiper-container">
                    <!-- ACF check for minimum 3 slides, duplicate them x2 anyway -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro__slide">
                                <div class="case-screen case-screen--desktop">
                                    <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="single-case__container container">
        <section class="case-about">
            <div class="row">
                <div class="col-sm-8">
                    <div class="case-about__main">
                        <h2>O Pingle Studio</h2>
                        <p>Pingle Studio помогает создателям и издателям игр со всего мира<br> воплотить свои идеи в жизнь и зарабатывать больше.</p>
                    </div>
                    <div class="case-about__main">
                        <h2>Челендж</h2>
                        <p>Мы часто встречаем B2B-сайты, особенно в технологической сфере,<br> с нечетким и противоречивым позиционированием.</p>
                        <p>Клиенты приходят на сайт с надеждой, что найдут решение, но путаются в позиционировании и услугах, которые предлагает компания.</p>
                        <p>Вызов сотрудничества с Pingle Studio — создать из сайта бизнес-инструмент, который будет работать на узнаваемость бренда, конвертировать посетителей в лидов и демонстрировать успешные кейсы.</p>
                    </div>
                    <div class="case-about__main">
                        <h2>Решение</h2>
                        <p>За сайтом Pingle стоит более 10 маркетинговых исследований со стороны Livepage, клиента и партнера компании из США. Мы глубоко проработали<br> UX/UI и сделали акценты на сильных сторонах компании.<br> Все подробности в кейсе ниже.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="case-about__aside">
                        <h5>Pingle Studio</h5>
                        <p>Глобальный партнер<br> по разработке игр. Компания работает с Epic Games,<br> Skydance Media, Revolution Software и другими<br> топовыми компаниями.</p>
                    </div>
                    <div class="case-about__aside">
                        <h5>Индустрия</h5>
                        <p>Game dev</p>
                    </div>
                    <div class="case-about__aside">
                        <h5>Размер компании</h5>
                        <p>120+ сотрудников</p>
                    </div>
                    <div class="case-about__aside">
                        <h5>Сотрудничество с Livepage</h5>
                        <p>- Маркетинговые исследования </p>
                        <p>- Дизайн сайта</p>
                        <p>- Платное продвижение</p>
                        <p>- SEO-продвижение</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="case-gallery">
            <div class="case-gallery__item">
                <div class="case-gallery__img">
                    <img src="img/case/gallery-1.jpg" alt="">
                </div>
            </div>
            <div class="case-gallery__item">
                <div class="case-gallery__img">
                    <img src="img/case/gallery-2.jpg" alt="">
                </div>
            </div>
            <div class="case-gallery__item">
                <div class="case-gallery__img">
                    <img src="img/case/gallery-3.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="case-testimonial">
            <div class="case-testimonial__wrapper">
                <div class="case-testimonial__author">
                    <div class="case-testimonial__author-photo">
                        <img src="img/case/testimonial-photo.png" alt="">
                    </div>
                    <div class="case-testimonial__author-info">
                        <h4 class="case-testimonial__author-name">Кирилл Мухин</h4>
                        <p class="case-testimonial__author-post">CEO Pingle Studio</p>
                    </div>
                </div>
                <div class="case-testimonial__content">
                    <div class="case-testimonial__text">
                        <p>Работа над каждым проектом по дизайну начинается c <strong>маркетингового исследования, SEO-подготовки и создания структуры сайта</strong>. Только при таком флоу проект будем<br> успешным в Digital.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="case-strategy">
            <h2>
                <span class="fs_normal">Стратегия развития</span><br>
                <b>Pingle Studio</b>
            </h2>
            <p>Работа над каждым проектом по дизайну начинается c <b>маркетингового<br> исследования, SEO-подготовки и создания структуры сайта</b>.<br> Только при таком флоу проект будем успешным в Digital.</p>
        </section>

        <section class="case-discovery single-case__border">
            <div class="case-discovery__content">
                <div class="single-case__subtitle">Discovery</div>
                <h3>Маркетинговое исследование перед разработкой</h3>
                <p>Наша команда работала с партнером Pingle из США. Совместными усилиями мы провели исследование ниши и конкурентов, создали портреты идеальных клиентов (Ideal Customer Profiles), структуру сайта и User Flow. Разработали визуальную концепцию, которая позволила донести уникальное ценностное предложение и позиционирование.</p>
                <h6 class="fs_bold">При разработке дизайна сайта мы:</h6>
                <ul>
                    <li>Делали акцент на Case Studies и ключевых клиентах Pingle Studio.</li>
                    <li>Добавили актуальные для игровой индустрии визуальные и интерактивные решения.</li>
                </ul>
            </div>
            <div class="case-discovery__img">
                <img src="img/case/discovery.png" alt="">
            </div>
        </section>

        <section class="case-research">
            <h2>Мы исследовали нишу разработки игр и предложили решения для роста бизнеса</h2>
            <img src="img/case/research-hero.png" alt="">
        </section>

        <section class="case-analysis">
            <div class="single-case__subtitle">Discovery</div>
            <h3>Результаты анализа</h3>
            <div class="case-analysis__text">
                <p>Перед стартом дизайна мы утвердили позиционирование бренда, ключевые ICP, Value Proposition и маркетинговую стратегию.</p>
            </div>
            <ol class="case-analysis__list">
                <li>
                    <p>Определили важность акцента на бренде, уникальных комбинациях ключевых экспертиз, сервисов и решений, которые компания предоставляет своими клиентам. Воплотили это в простой навигации по меню и Главной странице.</p>
                </li>
                <li>
                    <p>Ключевой для визуальной концепции стала ассоциация сайта с играми, персонажами, локациями, артом, которыми насытили страницы сайта. Сделали сквозной возможность взаимодействия с кейсами.</p>
                </li>
                <li>
                    <p>Индивидуальность компании — важный фактор принятия решений клиентами, даже если бренд специализируется на расширении команд. Поэтому в ряде страниц использовали кастомные фото и бренд-маскоты.</p>
                </li>
                <li>
                    <p>Партнеры в индустрии доверяют успешным растущим компаниям, поэтому важную роль отдали странице Join the team с актуальными вакансиями и преимуществами работы, что также помогает в построении HR бренда.</p>
                </li>
            </ol>
        </section>

        <section class="case-block single-case__border">
            <div class="single-case__header">
                <div class="single-case__subtitle">Discovery</div>
                <h2>User flow</h2>
                <p>Совместно с маркетинг-партнером компании мы подробно проработали<br> User Flow, по которому двигаются потенциальные клиенты Pingle Studio.</p>
            </div>
            <img src="img/case/user-flow.png" alt="" class="case-block__img">
        </section>

        <section class="case-block">
            <div class="single-case__header">
                <h2>SEO-структура с
                <p>Сайты, которые создаем мы, любят клиенты бренда и Google. Наша команда с первых этапов<br> готовит сайт к продвижению в ТОП поисковой выдачи, создавая правильную структура сайта.</p>
            </div>
            <img src="img/case/seo-structure.png" alt="" class="case-block__img">
        </section>
    </div>

    <section class="case-design">
        <div class="container">
            <div class="single-case__header">
                <div class="single-case__subtitle">INSPIRATION</div>
                <h2>Дизайн</h2>
                <p>Мы проработали десятки страниц для Pingle, включая<br> главную, Case Studies, Blog, Services и другие.</p>
            </div>
        </div>
        <div class="case-design__content">
            <div class="case-design__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-title="Главная">
                        <div class="case-design__slide">
                            <div class="case-screen case-screen--desktop">
                                <img src="img/case/screen-desktop.jpg" alt="Pingle Studio">
                            </div>
                            <div class="case-screen case-screen--mobile">
                                <img src="img/case/screen-mobile.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-title="Case Studies">
                        <div class="case-design__slide">
                            <div class="case-screen case-screen--desktop">
                                <img src="img/case/screen-desktop-1.jpg" alt="Pingle Studio">
                            </div>
                            <div class="case-screen case-screen--mobile">
                                <img src="img/case/screen-mobile.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-title="Services">
                        <div class="case-design__slide">
                            <div class="case-screen case-screen--desktop">
                                <img src="img/case/screen-desktop.jpg" alt="Pingle Studio">
                            </div>
                            <div class="case-screen case-screen--mobile">
                                <img src="img/case/screen-mobile.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <!-- Optional block -->
            <div class="case-design__hint">
                <img src="img/case/falling-guy.png" alt="">
                <p>Do you know when ending this page?</p>
            </div>
        </div>
    </section>

    <section class="case-prototypes">
        <div class="container">
            <div class="single-case__header">
                <div class="single-case__subtitle">IDEATION</div>
                <h2>Прототипы</h2>
                <p>Невозможно показать всю мощь проекта на одной странице. Сайт Pingle — это результат долгой<br> сплоченной работы команды клиента, Livepage и маркетингового партнера из США.</p>
            </div>
        </div>
        <div class="case-prototypes__content">
            <img src="img/case/prototypes.png" alt="">
        </div>
    </section>

    <section class="case-review">
        <div class="case-review__wrapper">
            <div class="case-review__content">
                <div class="case-review__text">
                    <p>Фишка бренда Pingle в том, что он, как хамелеон, адаптируется к рабочему процессу своих партнеров для создания проектов с мировым именем. Именно такой мотивацией мы были заряжены с самого начала. Знали, что создаем проект для бизнеса, который трансформируется изнутри, уверен в успехе и имеет огромные амбиции.</p>
                    <p>Это было нескучно, энергично и ярко. Однозначно энергия, проактивность и дисциплина со стороны Pingle в отношении всех наших задач сыграли решающую роль для успеха.</p>
                </div>
                <div class="case-review__author">
                    <div class="case-review__author-photo">
                        <img src="img/case/review-photo.png" alt="">
                    </div>
                    <div class="case-review__author-info">
                        <h4 class="case-review__author-name">Катерина Гречко</h4>
                        <p class="case-review__author-post">Head отдела IT-маркетинга</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="case-mobile">
        <div class="container">
            <div class="single-case__header">
                <div class="single-case__subtitle">ADAPTATION</div>
                <h2>Мобильная верси
                <p>Отдельное внимание мы уделили мобильной версии сайта, так<br> как больше 60% посещают сайт с мобильного.</p>
            </div>
            <div class="case-mobile__content">
                <div class="case-mobile__scene">
                    <img src="img/case/mobile-main.png" alt="" class="case-mobile__main">
                    <img src="img/case/mobile-icons.svg" alt="" class="case-mobile__icons">
                    <div class="case-mobile__circles">
                        <div class="case-mobile__circle">
                            <img src="img/case/mobile-circle-1.jpg" alt="">
                        </div>
                        <div class="case-mobile__circle">
                            <img src="img/case/mobile-circle-2.jpg" alt="">
                        </div>
                        <div class="case-mobile__circle">
                            <img src="img/case/mobile-circle-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="case-tablet">
        <div class="case-tablet__wrapper">
            <div class="case-tablet__content">
                <h2>Больше, чем мобильный дизайн</h2>
                <p>Страницы сайта Pingle не перенасыщены контентом и адаптированы под запросы пользователей. Также была проработана отдельная версия для таблета.</p>
            </div>
            <img src="img/case/tablet-bg.png" alt="" class="case-tablet__bg">
            <img src="img/case/tablet-icons.svg" alt="" class="case-tablet__icons">
        </div>
    </section>

    <section class="case-results">
        <div class="container">
            <div class="case-results__wrapper">
                <div class="single-case__header single-case__header--left">
                    <div class="single-case__subtitle">RESULTS</div>
                    <h2>Результаты</h2>
                    <div class="case-results__text">
                        <p><strong>Наша команда создала сайт, который легко продвигать, привлекать целевую aудиторию и конвертировать посетителей в лидов.</strong> Сейчас команда Livepage работает над маркетингом, SEO и платной рекламой для Pingle Studio.</p>
                    </div>
                    <p></p>
                    <p><strong>Первые результаты работ по маркетингу.</strong> Рост количества заявок — </p>
                    <div class="case-results__results">
                        c 0 до 66 заявок в месяц
                    </div>
                    <img src="img/case/results-logo.png" alt="" class="case-results__logo">
                    <div class="case-results__footer">
                        <p><strong>Кейс по платному трафику</strong></p>
                        <p><a href="#">Pingle Studio & Livepage</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
