<%=_.template(require('../parts/main-header.html'))() %>

<div class="new-page">
    <section class="single-author-main">
        <div class="container">
            <div class="m-w-760">
                <div class="pathway">
                    <a href="https://new.livepage.pro">Livepage</a>
                    <em>/</em>
                    <a href="https://new.livepage.pro">Авторы</a>
                </div>

                <div class="single-author">
                    <div class="single-author__avatar">
                        <img src="img/author.png" alt="" loading='lazy'>
                    </div>
                    <h1 class="single-author__name">Андрей<br> Скворцов</h1>
                    <div class="single-author__position">Маркетолог LivePage</div>
                    <div class="single-author__text">
                        Андрей Скворцов, менеджер маркетингового блога Livepage, увлечен всем, что связано с чтением и письмом. Он также любит путешествовать и провел год после выпуска, преподавая английский язык в Таиланде. Посетите его <a href="#">сайт</a> или поздоровайтесь в <a href="#">LinkedIn</a>.
                    </div>
                    <div class="single-author__socials socials">
                        <a href="#" class="social"><img src="img/facebook.svg" ></a>
                        <a href="#" class="social"><img src="img/twitter.svg" ></a>
                        <a href="#" class="social"><img src="img/linkedin.svg" ></a>
                    </div>
                </div>

                <div class="single-author-main__bg">
                    <img src="img/author-bg.svg" >
                </div>
            </div>
        </div>
    </section>

    <section class="single-author-posts">
        <div class="container">
            <h2>Публикации</h2>

            <div class="tabs">
                <div class="tabs__nav">
                    <a href="#blog-posts" class="tabs__link active">
                        Публикации в блоге Livepage
                    </a>
                    <a href="#source-posts" class="tabs__link">
                        Публикации на популярных ресурсах (<span>5</span>)
                    </a>
                </div>
                <div class="tabs__content">
                    <div class="tabs__item active" id="blog-posts">
                        <div class="posts">
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-1.jpg" alt="" loading='lazy'>
                                    <p>Интервью<br> с Александрой Жильцовой</p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">Интервью с Александрой<br> Жильцовой, ex-CMO Apriorit</a>
                                <div class="post__footer">
                                    <span class="post__date">22 октября 2020</span>
                                    <span class="post__reading">24 мин. чтения</span>
                                </div>
                            </div>
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-2.jpg" alt="" loading='lazy'>
                                    <p>ТОП-4 агентство 
                                        по контекстной рекламе </p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">Livepage – ТОП-4 агентство<br> по контекстной рекламе<br> в Украине</a>
                                <div class="post__footer">
                                    <span class="post__date">24 октября 2020</span>
                                    <span class="post__reading">12 мин. чтения</span>
                                </div>
                            </div>
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-3.jpg" alt="" loading='lazy'>
                                    <p>SEO для мультиязычных<br> и мультирегиональных сайтов</p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">SEO для мультиязычных<br> и мультирегиональных сайтов.<br> Как Pinterest построил свои<br> региональные домены и выиграл</a>
                                <div class="post__footer">
                                    <span class="post__date">26 октября 2020</span>
                                    <span class="post__reading">15 мин. чтения</span>
                                </div>
                            </div>
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-4.jpg" alt="" loading='lazy'>
                                    <p>Как подружить маркетолога<br> и SEO-специалиста</p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">Как подружить маркетолога<br> и SEO-специалиста: определяем<br> зоны отвественности</a>
                                <div class="post__footer">
                                    <span class="post__date">28 октября 2020</span>
                                    <span class="post__reading">16 мин. чтения</span>
                                </div>
                            </div>
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-5.jpg" alt="" loading='lazy'>
                                    <p>Как работать<br> на удаленке</p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">Как работать на удаленке:<br> кейс Livepage</a>
                                <div class="post__footer">
                                    <span class="post__date">5 ноября 2020</span>
                                    <span class="post__reading">12 мин. чтения</span>
                                </div>
                            </div>
                            <div class="post">
                                <a href="#" class="post__logo">
                                    <img src="img/post-6.jpg" alt="" loading='lazy'>
                                    <p>6 советов по подготовке<br> к продвижению </p>
                                </a>
                                <a href="#" class="post__author">Андрей Скворцов</a>
                                <a href="#" class="post__title">Кейс: 6 советов по подготовке<br> к продвижению нового сайта для<br> быстрого роста трафика</a>
                                <div class="post__footer">
                                    <span class="post__date">12 ноября 2020</span>
                                    <span class="post__reading">4 мин. чтения</span>
                                </div>
                            </div>
                        </div>
                        <div class="posts-more">
                            <a href="#" class="btn posts-btn">Показать еще</a>
                        </div>
                    </div>

                    <div class="tabs__item" id="source-posts">
                        <div class="sources">
                            <a href="#" class="source">
                                <img src="img/source-time.svg" >
                            </a>
                            <a href="#" class="source">
                                <img src="img/source-medium.svg" >
                            </a>
                            <a href="#" class="source">
                                <img src="img/source-ng.svg" >
                            </a>
                            <a href="#" class="source">
                                <img src="img/source-cnn.svg" >
                            </a>
                            <a href="#" class="source">
                                <img src="img/source-tc.svg" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="other-posts">
        <div class="container">
            <h2>Другие популярные материалы</h2>
            <div class="posts">
                <div class="post">
                    <a href="#" class="post__logo">
                        <img src="img/post-1.jpg" alt="" loading='lazy'>
                        <p>Интервью<br> с Александрой Жильцовой</p>
                    </a>
                    <a href="#" class="post__author">Андрей Скворцов</a>
                    <a href="#" class="post__title">Интервью с Александрой<br> Жильцовой, ex-CMO Apriorit</a>
                    <div class="post__footer">
                        <span class="post__date">22 октября 2020</span>
                        <span class="post__reading">24 мин. чтения</span>
                    </div>
                </div>
                <div class="post">
                    <a href="#" class="post__logo">
                        <img src="img/post-2.jpg" alt="" loading='lazy'>
                        <p>ТОП-4 агентство 
                            по контекстной рекламе </p>
                    </a>
                    <a href="#" class="post__author">Андрей Скворцов</a>
                    <a href="#" class="post__title">Livepage – ТОП-4 агентство<br> по контекстной рекламе<br> в Украине</a>
                    <div class="post__footer">
                        <span class="post__date">24 октября 2020</span>
                        <span class="post__reading">12 мин. чтения</span>
                    </div>
                </div>
                <div class="post">
                    <a href="#" class="post__logo">
                        <img src="img/post-3.jpg" alt="" loading='lazy'>
                        <p>SEO для мультиязычных<br> и мультирегиональных сайтов</p>
                    </a>
                    <a href="#" class="post__author">Андрей Скворцов</a>
                    <a href="#" class="post__title">SEO для мультиязычных<br> и мультирегиональных сайтов.<br> Как Pinterest построил свои<br> региональные домены и выиграл</a>
                    <div class="post__footer">
                        <span class="post__date">26 октября 2020</span>
                        <span class="post__reading">15 мин. чтения</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe">
        <div class="container">
            <h2>Будьте в курсе последних<br> новостей по маркетингу</h2>
            <div class="subscribe__text">Подписаться на блог </div>
            <form action="#" class="subscribe__form form form-red">
                <div class="subscribe__content">
                    <div class="inputbox inputbox_placeholder">
                        <div class="placeholder">Для подписки нужно указать email</div>
                        <input name="email" class="form-control" type="text" value="">
                    </div>                    
                    <button class="form__btn btn subscribe__btn" name="send" type="submit" value="OK">Подписаться на блог </button>
                </div>

                <div class="text-center">
                    <div class="form-msg"></div>
                </div>
            </form>
            <div class="subscribe__bg">
                <img src="img/subscribe-bg.svg" >
            </div>
        </div>
    </section>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
