<%=_.template(require('../parts/main-header.html'))() %>

<div class="new-page">
    <section class="single-case-intro">
        <div class="single-case-intro__bg" style="background-image: url(img/case/pingle-intro-bg.jpg);"></div>
        <div class="single-case-intro__wrapper">
            <div class="single-case-intro__content">
                <div class="single-case-intro__container container">
                    <div class="single-case-intro__heading">
                        <h1>Web-дизайн для IT-компании Pingle Studio</h1>
                        <p>Глобальный Game development партнер </p>
                    </div>
                    <div class="single-case-intro__info">
                        <div class="single-case-intro__info-item">
                            <a href="#" class="single-case-intro__info-logo" title="Pingle Studio" target='_blank' rel='noopener noreferrer'>
                                <img src="img/case/pingle-logo.png" alt="Pingle Studio">
                            </a>
                            <div class="single-case-intro__info-content">
                                <p class="single-case-intro__info-title">Pingle Studio</p>
                                <p class="single-case-intro__info-text">IT Outsource компания</p>
                            </div>
                        </div>
                        <div class="single-case-intro__info-item">
                            <div class="single-case-intro__info-content">
                                <p class="single-case-intro__info-title">Услуги</p>
                                <p class="single-case-intro__info-text">Маркетинговое исследование, UX/UI дизайн</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-case-intro__slider">
                <div class="single-case-slider swiper-container">
                    <!-- ACF check for minimum 3 slides, duplicate them x2 anyway -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-2.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-case-slider__slide">
                                <img src="img/case/pingle-slide-1.jpg" alt="Pingle Studio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="single-case-about">
            <div class="row">
                <div class="col-sm-8">
                    <div class="single-case-about__main">
                        <h2>O Pingle Studio</h2>
                        <p>Pingle Studio помогает создателям и издателям игр со всего мира<br> воплотить свои идеи в жизнь и зарабатывать больше.</p>
                    </div>
                    <div class="single-case-about__main">
                        <h2>Челендж</h2>
                        <p>Мы часто встречаем B2B-сайты, особенно в технологической сфере,<br> с нечетким и противоречивым позиционированием.</p>
                        <p>Клиенты приходят на сайт с надеждой, что найдут решение, но путаются в позиционировании и услугах, которые предлагает компания.</p>
                        <p>Вызов сотрудничества с Pingle Studio — создать из сайта бизнес-инструмент, который будет работать на узнаваемость бренда, конвертировать посетителей в лидов и демонстрировать успешные кейсы.</p>
                    </div>
                    <div class="single-case-about__main">
                        <h2>Решение</h2>
                        <p>За сайтом Pingle стоит более 10 маркетинговых исследований со стороны Livepage, клиента и партнера компании из США. Мы глубоко проработали<br> UX/UI и сделали акценты на сильных сторонах компании.<br> Все подробности в кейсе ниже.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-case-about__aside">
                        <h5>Pingle Studio</h5>
                        <p>Глобальный партнер<br> по разработке игр. Компания работает с Epic Games,<br> Skydance Media, Revolution Software и другими<br> топовыми компаниями.</p>
                    </div>
                    <div class="single-case-about__aside">
                        <h5>Индустрия</h5>
                        <p>Game dev</p>
                    </div>
                    <div class="single-case-about__aside">
                        <h5>Размер компании</h5>
                        <p>120+ сотрудников</p>
                    </div>
                    <div class="single-case-about__aside">
                        <h5>Сотрудничество с Livepage</h5>
                        <p>- Маркетинговые исследования </p>
                        <p>- Дизайн сайта</p>
                        <p>- Платное продвижение</p>
                        <p>- SEO-продвижение</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="single-case-gallery">
            <div class="single-case-gallery__item">
                <div class="single-case-gallery__img">
                    <img src="img/case/gallery-1.jpg" alt="">
                </div>
            </div>
            <div class="single-case-gallery__item">
                <div class="single-case-gallery__img">
                    <img src="img/case/gallery-2.jpg" alt="">
                </div>
            </div>
            <div class="single-case-gallery__item">
                <div class="single-case-gallery__img">
                    <img src="img/case/gallery-3.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="single-case-testimonial">
            <div class="single-case-testimonial__wrapper">
                <div class="single-case-testimonial__author">
                    <div class="single-case-testimonial__author-photo">
                        <img src="img/case/testimonial-photo.png" alt="">
                    </div>
                    <div class="single-case-testimonial__author-info">
                        <h4 class="single-case-testimonial__author-name">Кирилл Мухин</h4>
                        <p class="single-case-testimonial__author-post">CEO Pingle Studio</p>
                    </div>
                </div>
                <div class="single-case-testimonial__content">
                    <div class="single-case-testimonial__text">
                        <p>Работа над каждым проектом по дизайну начинается c <strong>маркетингового исследования, SEO-подготовки и создания структуры сайта</strong>. Только при таком флоу проект будем<br> успешным в Digital.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="single-case-textblock">
            <h2>Стратегия развития<br> <b>Pingle Studio</b></h2>
            <p>Работа над каждым проектом по дизайну начинается c <b>маркетингового<br> исследования, SEO-подготовки и создания структуры сайта</b>.<br> Только при таком флоу проект будем успешным в Digital.</p>
        </section>

        <section class="single-case-discovery">
            <div class="single-case-discovery__content">
                <div class="single-case-discovery__subtitle">DISCOVERY</div>
                <h3 class="single-case-discovery__title">Маркетинговое исследование перед разработкой</h3>
                <div class="single-case-discovery__text">
                    <p>Наша команда работала с партнером Pingle из США. Совместными усилиями мы провели исследование ниши и конкурентов, создали портреты идеальных клиентов (Ideal Customer Profiles), структуру сайта и User Flow. Разработали визуальную концепцию, которая позволила донести уникальное ценностное предложение и позиционирование.</p>
                </div>
                <div class="single-case-discovery__details">
                    <h6>При разработке дизайна сайта мы:</h6>
                    <ul>
                        <li>Делали акцент на Case Studies и ключевых клиентах Pingle Studio.</li>
                        <li>Добавили актуальные для игровой индустрии визуальные и интерактивные решения.</li>
                    </ul>
                </div>
            </div>
            <div class="single-case-discovery__img">
                <img src="img/case/discovery.png" alt="">
            </div>
        </section>
    </div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>
